:root {
  --box-background-color: rgba(255, 255, 255, 0.8);
  --text-color: #333;
  --primary-accent-color: #007BFF;
  --secondary-accent-color: #0056b3;
  --border-color: #DDD;
  --navbar-contact-bg: #007BFF;
  --navbar-contact-text: white;

  --success-bg-color: #d4edda;
  --success-border-color: #c3e6cb;
  --success-text-color: #155724;
  --error-bg-color: #f8d7da;
  --error-border-color: #f5c6cb;
  --error-text-color: #721c24;
}
body.dark-theme {
  --box-background-color: rgba(40, 40, 40, 0.85);
  --text-color: #EFEFEF;
  --primary-accent-color: rgb(98, 144, 150);
  --secondary-accent-color: rgb(128, 174, 180);
  --border-color: rgb(75, 82, 92);
  --navbar-contact-bg: rgb(98, 144, 150);
  --navbar-contact-text: white;

  --success-bg-color: #1c4c2a;
  --success-border-color: #2c6b3c;
  --success-text-color: #d4edda;
  --error-bg-color: #58151c;
  --error-border-color: #842029;
  --error-text-color: #f8d7da;

  background-image: url(../assets/img/dark-background.jpg);
}

body {
    margin: 0;
    padding-inline: 20px; 
    background-image: url(../assets/img/light-background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    transition: background-image 0.3s ease-in-out; 
    min-height: 100vh;
}

.box {
    width: auto;
    margin:  auto;
    border-radius: 10px;
    background: var(--box-background-color);
    padding:20px;
    text-align: center;
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
.box img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.box img:hover{
    transform: scale(1.1);
}
.box h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--primary-accent-color);
}
.box h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.box li{
    display: inline-block;
    margin-inline: 20px;
    font-size: 35px;
}
.box a{
    color: var(--text-color);
}
.box a:hover{
    transform: scale(1.2);
}
    color: var(--primary-accent-color);
